pre {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: 300;
  font-size: 10pt;
  color: #fff;
}

html {
  font-family: sans-serif;
}

.abs_cont {
  position: relative;
}

.main_grid {
  display: grid;
  grid-template: repeat(4, minmax(350px, 25%)) / repeat(4, minmax(200px, 40vh));
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_row {
  flex: 1;
  width: 100%;
}

.inner_row.animation {
  flex: 2;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_row.activate {
  flex: 1;
  text-align: right;
}

.title {
  text-align: center;
}

.active {
  background: #f3f3f3;
}

.hero {
  /* grid-area: 1 / 1 / 2 / 1; */
  grid-column: span 2;
}

.classic {
}

.code_section {
  grid-column: span 2;
  background: #282c34;
  white-space: pre-line;
  padding: 0.5rem;
  color: #fff;
}

.btn {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  padding: 0.8rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0.5rem;
  border: 1px solid none;
  border-style: none;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.lower_btn {
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: auto;
  flex: 1;
  float: right;
}

.logo {
  max-width: 80%;
  width: 200px;
  margin: auto;
  object-fit: contain;
}

.disappear {
  opacity: 0;
  transform: translateX(-2rem);
  transition: all 0.3s ease;
}

.appear {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}
