.pre {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  font-weight: 300;
  font-size: 10pt;
  color: #fff;
}

html {
  font-family: sans-serif;
}

.abs_cont {
  position: relative;
}

.main_grid {
  display: grid;
  grid-template: repeat(4, minmax(350px, 25vw)) / repeat(4, minmax(250px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 0.5fr; */
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner_row {
  flex: 1;
  width: 100%;
}

.inner_row.animation {
  flex: 3;
}

.d-flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.active {
  background: #f3f3f3;
}

.hero {
  /* grid-area: 1 / 1 / 2 / 1; */
  grid-column: span 2;
}

.classic {
}

.code_section {
  grid-column: span 2;
  background: #282c34;
  white-space: pre-line;
  padding: 1rem;
  padding-top: 1rem;
  color: #fff;
}

.lower_btn {
  flex: 1;
  float: right;
}

.logo {
  max-width: 80%;
  width: 200px;
  margin: auto;
  object-fit: contain;
}

.red_button {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: crimson;
  border-radius: 50%;
}

.yellow_button {
  position: absolute;
  left: 1.8rem;
  top: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: orange;
  border-radius: 50%;
}

.green_button {
  position: absolute;
  left: 2.8rem;
  top: 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  background-color: lime;
  border-radius: 50%;
}

.disappear {
  opacity: 0;
  transform: translateX(-2rem);
  transition: all 0.3s ease;
}

.appear {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.slidecontainer {
  display: inline-block;
  height: 100%;
}

.h-100 {
  height: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  border-radius: 50%;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4caf50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
